@import url("https://fonts.google.com/specimen/Roboto+Condensed");
body, 
button,
input,
select,
textarea {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.news-cards {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 5px;
}

.news-cards img {
  display: block;
  width: 17%;
  height: auto;
}

.news-cards button {
  background-color: red;
  text-align: center;
  display: inline-block;

  width: 10%;
}

.news-cards button:hover {
  background-color: grey;
  border-color: red;
}
