@import url("https://fonts.google.com/specimen/Roboto+Condensed");
body, 
button,
input,
select,
textarea {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.news-cards {
  border-radius: 20px;
  border-color: orange;
}

.news-cards img {
  display: block;
  width: 17%;
  height: auto;
}

