small {
    font-size: 75%;
    
  }
  
  header {
    background-color: #43AA8B;
    border: black solid 3px;
  }
  
  .site-title {
    color: ghostwhite;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: cornsilk;
    box-sizing: border-box;
    background-color: #90be6d;
    list-style-type: none;
  }
  
  .nav-link {
    color: cornsilk;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: navy;
  }
